# Development
.env
/bash
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Packaging
/.upm/
/out/
/build
/.yarn/
.npmrc
/node_modules/
yarn.lock
package-lock.json

# Assets
/assets/
!/assets/README.md